



/*

.div-main {
    grid-area: "div-main";
    margin: auto;
}

.div-footer {
    grid-area: "div-footer";
}

@media (max-width:350px){
    .div-container {
       font-size: 14px;
    }    

    .div-main {
        grid-area: "div-main";
        width: 100%;
    }
}
*/