body{
    margin: 0;
    padding: 0;
}

.div-container {
    width: 100%;
    min-height: 320px;
    display: grid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    background-color: hsl(0, 0%, 90%);
}

.div-nav {
    grid-area: "div-nav";
    height: 100%;
}

.div-main {
    grid-area: "div-main";
    margin: auto;
}

.div-footer {
    grid-area: "div-footer";
}

@media (max-width:350px){
    .div-container {
       font-size: 14px;
    }    

    .div-main {
        grid-area: "div-main";
        width: 100%;
    }
}