.div-nav {
    grid-area: nav;
    background-color: teal;
    color: white;
    list-style-type: none;
    height: 100%;
    width: auto;
}

.div-nav h1{
    background-color: hsl(180, 100%, 10%);
    padding: .5rem;
    font-size: 1.8rem;  
}

.div-nav li {
    padding: 1em;
}

.div-nav li:hover, .div-nav li a:hover {
    background-color:hsl(180, 100%, 10%);
    border-radius: 10px;
}

.div-nav li a{
    text-decoration: none;
    color: white;
    font-size: 1.3em;
}
